  <h1>Angular Router</h1>
<nav>
    <a routerLink="/users" routerLinkActive="active">Users</a>
    <a routerLink="/transactions" routerLinkActive="active">Transactions</a>
      <a routerLink="/groups" routerLinkActive="active">Groups</a>
      <a routerLink="/transactions-sources" routerLinkActive="active">Transaction Sources</a>
</nav>



  <router-outlet></router-outlet>

<!-- <mat-toolbar color="accent">
	<app-navigation></app-navigation>	
</mat-toolbar>

<app-list-users></app-list-users>

<app-list-groups></app-list-groups>

<app-list-transactions></app-list-transactions>

<app-list-transaction-sources></app-list-transaction-sources>
 -->